# Tool Output

## golang output binary directory
bin

## golang vendor (dependencies) directory
vendor

## Terraform
.terraform
*.tfstate
*.tfstate.backup
*secret.tfvars

# Editor

## Vim
*.swp
*.swo
